@CHARSET "UTF-8";

#center{
	background-color: white;
}
section {
background-color: white;
}
.main-bar {
	text-align: center;
	font-size:25px;
	color: white;
	width: 100%;
	height: 25px;
	background-color: #358fbc;
}

#mainbar-text{
	border:1px solid #358fbc; 
	margin-top: 12px;
}

    #map2 {
      display:inline-block;
      float: left;
      width: 80px;
      height: 26px;
      border-radius: 5px 0px 0px 5px;
      background-color: #358fbc;
    }
       #maps2 {
      color: white;
    }
    #chat2 {
      display:inline-block;
      float: right;
      width: 80px;
      height: 26px;
      border-radius: 0px 5px 5px 0px;
      background-color: #358fbc;
    }
    #chats2 {
      color: white;
    }    
    
    
    
    
    /**/
/* #employeePic {
  float: left;
  padding-right: 10px;
  padding-bottom: 16px;
}

#employeeDetails p {
  margin-top: 0px;
  margin-bottom: 8px;
}

#actionList {
  clear: both;
 */
form#search-form {
margin-left: 0px;
margin-right: 0px;
border-bottom: 1px solid gainsboro;
}

.fr_li{
   list-style:none;	
padding-top: 5px;
   border-bottom: 1px solid gainsboro;
   height: 60px;
   background-color: white;
}

.fr_img {
height: 4em;
width: 3.5em;
position: relative;
float: left;
margin-right: 30px;
margin-left: 15px;
}

h4 {
width: 100%;
text-align: left;
color: black;
margin: -1px;
font-size: medium;
margin-top: 8px;
}
.fr_p{
	width: 100%;
text-align: left;
color:black;
margin: 0px;
margin-top: 3px;
}
.fr_t{
	 width: 100%;
text-align: left;
margin: 0px;
color: cadetblue;
line-height: 1em;
}
div.fr_box {
position: relative;
float: left;
width: 50%;
height: 52px;
}
div.fr_ui {
position: relative;
height: 52px;
padding-top: 16px;
}
span.ui-li-count {
color: black;
font-size: small;
/* padding-top: 24px; */
}
div.fr_bor {
width: 100%;
height: 60px;

}
div#recommend {
/* height: 30%; */
background-color: cadetblue;
width: 30px;
height: 30px;
margin: 0px;
padding: 0px;
position: absolute;
/* float: right; */
margin-left: 80%;
border-radius: 50%;
margin-top: -4px;
padding: 5px;
}