body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px;
}

div#location,div#distance {
	padding: 5px;
}

/* map 의 width, height 를 설정해 주지 않으면 google map 이 나타나지 않는다. */
div#map {
	margin: 2px;
	width: 300px;
	height: 360px;
	border: 1px solid black;
}