@CHARSET "UTF-8";
body {
	padding: 0px;
	margin: 0px;
max-width: 100%;
width: 100%;

background: url(../img/MainMapImg.png) no-repeat left top fixed;
background-size: cover;

}
.container {
width: 300px;
}

a {
  color: white;
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a img {
  border: 0;
}

body {
  max-width: 100%;
  background: url(../img/MainMapImg.png) no-repeat left top fixed;
  background-size: cover;
}
#title {
  margin-top: 30%;
  position: relative;
  color: white;
  text-align: center;
  font-size: 3.70em;
  font-weight: bold;
}
#Login-with-Email {
/* margin: 0 6%; */
}
#Not-Registered {
color: rgb(47, 101, 182);
margin: 10% 20%;
margin-bottom: 25%;
}

#signUp {
  margin-left: -6%;
  padding-bottom: 20%;
}
div.logo {
margin-top: 50%;
}

#name, #email, #password, #country, #language {
  border: 0px;
  border-bottom: 1px solid #DCDCDC;
  border-radius: 0px;
}
.form-group {
  margin-bottom: 5px;
}
#signupBtn {
  background-color: #4BAF4B;
}
#already {
color: #358fbc;
/* margin-left: 20%; */
margin-top: 10%;
/* position: relative; */
text-align: center;
margin-bottom: 25%;
}
#already2{
	color: #358fbc;
/* margin-left: 20%; */
margin-top: 5%;
/* position: relative; */
text-align: center;
margin-bottom: 25%;
}
#signupBtn {
/*   margin-top: 10%; */
}
signup-form {
  margin-top: -70px;
}
.LoginBox {
margin-top: 24%;
}

#LoginBox_1{
	margin-top: 81%;
}
#country, #language {
text-align: center;
/* margin: 2% 0% 0% 0%; */
width: 48%;
/* margin-left: 19%; */
}
select#country {
float: left;
margin-top: 4%;
margin-left: 15px;
/* margin-right: 15px; */
width: 90%;
}
select#language {
/* float: right; */
margin-top: 4%;
margin-bottom: 8%;
margin-left: 15px;
width: 90%;
}

#login_start {
margin-right: auto;
margin-left: auto;
padding-left: 15px;
padding-right: 15px;
width: 300px;
}
#signup_Box{
	margin-right: auto;
margin-left: auto;
padding-left: 15px;
padding-right: 15px;
width: 300px;
}
div.col-sm-offset-2.col-sm-10 {
padding: 0px;
}

.form-horizontal .form-group {
margin-left: -15px;
margin-right: -15px;
margin-bottom: 0;
}
#signupBtn {
/* margin-top: 10%; */
margin-left: 15px;
width: 90%;
}
