@CHARSET "UTF-8";
#profile_modify{
	  width: 70%;
	  margin-bottom: 6%;
}
#profileTitleDiv{
      text-align: left;
      width: 80%;
}
#favoriteTagText_modify{
		  text-align: left;
}
#title_proDiv{
      text-align: left;
      width: 80%;
}
#favoriteTagLabel_modify{
	width: 80%;
}
