@CHARSET "EUC-KR";

#pro {
	background-color: white;
}
#profile_img {

	border-radius:10px;
	margin-top:10%;
	width: 60%;
	height: 60%;
}
#title_pro {
	text-align: center;
	margin-bottom: 6%;
}
#location_log {
	background-color: #358fbc;
	color: white;
	font-weight: normal;
	width: 100%;
	height: 300px;
	font-size: 25px;
}
.iconF {
	width: 10%;
	height: 10%;
	margin: 2%;
	
}

h1 {
	font-size: 130%;
	font-weight: bold;
}
#iconff {
	margin-top: 4%;
}



/* 디버그용
* {
	 border: 1px black solid;
}
#favoriteTag {
  border: 1px red solid;
}
 */


#favoriteTag {
	width: 80%;
	margin-bottom: 10px;
}

#favoriteTagLabel {
	width: 100%;
}

#favoriteTagImage {
	width: 18px;
}

#favoriteTagContent {
	border: 0px;
	text-align: left;
	width: 80%;
}