<?xml version="1.0" encoding="UTF-8"?>
<!-- SubjectMapper.xml -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="talkie.dao.TalkieUserDao">
  <resultMap type="talkie.vo.TalkieUserVo" id="talkieUserMap">
    <id column="UNO" property="no"/><!-- PK 컬럼에 대해서만 설정한다. -->
    <result column="EMAIL" property="email"/>
    <result column="PASSWORD" property="password"/>
    <result column="NAME" property="name"/>
    <result column="AGENO" property="age"/>
    <result column="NATINO" property="nation"/>
    <result column="GENDER" property="gender"/>
    <result column="ISDECLARE" property="isDeclare"/>
    <result column="GRADE" property="grade"/>
    <result column="ISEMAIL" property="isEmail"/>
    <result column="FAVTAG" property="favTag"/>
    <result column="PHOPATH" property="phoPath"/>
    <result column="PROFILETITLE" property="profileTitle"/>
    <result column="PROFILEDESC" property="profileDesc"/>
  </resultMap> 

  <!-- 
  <insert id="insert" parameterType="studentVo">
    insert into SE_STUDS (UNO,COMP,POS,STAT,LAST_SCH,ACCT)
    values (#{no}, 
            #{company}, 
            #{position}, 
            #{workingState}, 
            #{lastSchool}, 
            #{bankingAccount})
  </insert>
   -->
 
  <select id="getLoginUser" 
      parameterType="map" resultMap="talkieUserMap">
    select UNO,NAME,EMAIL,AGENO,NATINO,GENDER,FAVTAG,PHOPATH
    from SE_USERS
    where EMAIL=#{email} and PASSWORD=#{password}
  </select>
  
  <select id="getProfileInfo" 
      parameterType="String" resultMap="talkieUserMap">
    select FAVTAG, PHOPATH, PROFILETITLE, PROFILEDESC
    from SE_USERS
    where EMAIL=#{email}
  </select>
  
  <!--
    UPDATE [테이블] SET [열] = '변경할값' WHERE [조건] 
  -->
  <update id="updateProfilePhoto" 
      parameterType="hashmap">
    update SE_USERS set PHOPATH=#{filename} where UNO=#{userNo}
  </update>
  
  
    <update id="update" parameterType="TalkieUserVo" >
      update SE_USERS set
      PROFILETITLE=#{profileTitle},
      PROFILEDESC=#{profileDesc},
      FAVTAG=#{favTag}
    where UNO=#{no}
  </update>

    
</mapper>




























