@CHARSET "EUC-KR";

#pro {

}
#profile_img {

	border-radius:10px;
	margin-top:10%;
	width: 60%;
	height: 60%;
}
#title_pro {
	text-align: center;
	margin-bottom: 6%;
}
#location_log {
	background-color: #358fbc;
	color: white;
	font-weight: normal;
	width: 100%;
	height: 300px;
	font-size: 25px;
}
.iconF {
	width: 10%;
	height: 10%;
	margin: 2%;
	
}

h1 {
	font-size: 130%;
	font-weight: bold;
}
#iconff {
	margin-top: 4%;
}