@CHARSET "UTF-8";
#profile_modify{
	  width: 70%;
	  margin-bottom: 6%;
}
#profileTitleDiv{
      text-align: left;
      width: 80%;
}
#favoriteTagText_modify{
		  text-align: left;
}
#title_proDiv{
      text-align: left;
      width: 80%;
}
#favoriteTagLabel_modify{
	width: 80%;
}
button#location_delete {
float: right;
width: 10%;
}
  
.btn btn-default_com{
margin-top: 5%;
}
div.log_div {
font-size: small;
width: 110%;
padding-left: 15%;
padding-right:15%;
height: 12%;
}

.log_text{
text-align: left;
width: 90%;
float: left;
padding-top: 8%;

}
.log_time{
text-align: left;
width: 90%;
float: left;
color : highlight;

}

.location_delete {
position: relative;
	float: right;
width: 1.6em;
height: 1.6em;
top: -15px;
/* 
border:1px solid red; */
}
#iconff {
margin-top: 4%;
margin-bottom: 4%;
}


    #map2 {
      display:inline-block;
      float: left;
      width: 80px;
      height: 26px;
      border-radius: 5px 0px 0px 5px;
      background-color: #358fbc;
    }
       #maps2 {
      color: white;
    }
    #chat2 {
      display:inline-block;
      float: right;
      width: 80px;
      height: 26px;
      border-radius: 0px 5px 5px 0px;
      background-color: #358fbc;
    }
    #chats2 {
      color: white;
    }              #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        width: 350px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
      #latlng {
        width: 225px;
      }